.modifier-container {
  display: flex;
  flex-direction: column;
  padding: 2ch;

  background-color: #fff;
}

textarea {
  white-space: pre-wrap;
}

.black-white-span {
  font-size: smaller;
  margin-top: -15px;
}

.color-choice {
  display: flex;
  align-items: flex-end;
}

.color-choice > span {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}

.color-choice > span.label {
  font-weight: bold;
}

.color-choice > span.hsl {
  font-size: 1.5ch;
}

.color-box {
  width: 100px;
  height: 20px;
}

.slider-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.slider-div > span {
  font-size: small;
  margin-bottom: -4px;
}