@import '../css/fonts.css';
:root {
  --nav-item-font: "courier new";
  --nav-item-font-size: 5ch;
  --nav-item-color: "red";
  --nav-item-padding-left: .5ch;
  --header-height: 5vh;
  --footer-height: 8vh;
  --header-logo-shrink: 4vh;
  --logo-corner-height: var(--header-height);
  --logo-corner-width: calc(607 * var(--logo-corner-height) / 227 - var(--header-logo-shrink));
  --header-left-margin: 4ch;
  --header-right-margin: 4ch;
  --bg-primary-color: #000;
  --bg-secondary-color: #000;
  --bg-wrap-color: none;
  --main-area-width: 50vw;
  --main-area-bg-color: none;
  --wrap-border-radius: 10px;
  --wrap-border-color: #000;
  --color-display-cell-size: 6.5vh;
  --color-cells-in-row: 5;
  --color-cell-rows: 7;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary-color);
}
body .main-layout {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
body .main-layout.no-header > .header {
  display: none;
}
body .main-layout.no-header > main {
  margin-top: 0;
  height: calc(100vh - var(--footer-height));
}
body .main-layout > .header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
}
body .main-layout > .header .logo-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body .main-layout > .header .nav.desktop {
  display: flex;
  justify-content: flex-end;
  margin-right: var(--header-right-margin);
}
body .main-layout > .header .nav.desktop .nav-item .nav-item-text {
  font-family: var(--nav-item-font);
  font-size: var(--nav-item-font-size);
  color: var(--nav-item-color);
  text-transform: capitalize;
  padding-left: var(--nav-item-padding-left);
}
body .main-layout > main {
  margin: 0 auto;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  width: var(--main-area-width);
  position: relative;
  background-color: var(--bg-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-layout > main > footer {
  border: 1px solid cyan;
  height: var(--footer-height);
  width: 100%;
  position: absolute;
  padding: 0;
  bottom: 0;
}
body .main-layout > main .wrap {
  width: 100%;
  height: 100%;
  background-color: var(--bg-wrap-color);
  border-radius: var(--wrap-border-radius);
  border: 1px solid var(--wrap-border-color);
  overflow-y: scroll;
}
body .main-layout > main .colors-display-wrap {
  box-sizing: border-box;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 7;
  grid-template-rows: 8;
  gap: 0;
  width: calc(7 * var(--color-display-cell-size));
}
body .main-layout > main .colors-display-wrap > :nth-child(n) {
  margin: 0;
  padding: 0;
}
body .main-layout > main .colors-display-wrap > :nth-child(1) {
  grid-column-start: 3;
  grid-column-end: span 5;
  grid-row-start: 1;
  grid-row-end: span 1;
}
body .main-layout > main .colors-display-wrap > :nth-child(1).above-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
}
body .main-layout > main .colors-display-wrap > :nth-child(1).above-grid > div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  max-width: var(--color-display-cell-size);
  font-size: small;
  text-align: center;
}
body .main-layout > main .colors-display-wrap > :nth-child(2) {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 7;
  width: 100%;
  height: 100%;
}
body .main-layout > main .colors-display-wrap > :nth-child(2).aside-grid > div {
  height: var(--color-display-cell-size);
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}
body .main-layout > main .colors-display-wrap > :nth-child(2).aside-grid > div > span {
  margin-left: -3px;
  margin-right: 3px;
  font-size: small;
}
body .main-layout > main .colors-display-wrap > :nth-child(3) {
  grid-column-start: 3;
  grid-column-end: span 5;
  grid-row-start: 2;
  grid-row-end: span 7;
  height: 100%;
  width: 100%;
}
body .main-layout > main .colors-display-wrap > .colors-display {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(var(--color-cells-in-row), auto);
  grid-template-columns: auto;
  border: 2px solid black;
}
body .main-layout > main .colors-display-wrap > .colors-display > .display-col {
  display: grid;
  grid-template-columns: repeat(var(--color-cells-in-row), 1fr);
  grid-template-rows: auto;
}
body .main-layout > main .colors-display-wrap > .colors-display > .display-col > div {
  width: 100%;
  height: 100%;
}
body .main-layout > main .grid {
  display: grid;
  width: 100%;
  height: 100%;
}
body .main-layout > main .grid.example-a {
  height: 120ch;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1.5ch;
  padding-top: 2ch;
}
body .main-layout > main .grid.example-a > :nth-child(1) {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 6;
}
body .main-layout > main .grid.example-a > :nth-child(2) {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
}
body .main-layout > main .grid.example-a > :nth-child(3) {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 7;
}
body .main-layout > main .grid.example-a > :nth-child(4) {
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 7;
  grid-row-end: span 3;
}
body .main-layout > main .grid.example-a > :nth-child(5) {
  grid-column-start: 5;
  grid-column-end: span 2;
  grid-row-start: 7;
  grid-row-end: span 3;
}
body .logo-container.corner {
  width: var(--logo-corner-width);
  height: var(--logo-corner-height);
  margin-left: var(--header-left-margin);
}
body .logo-container.corner .logo-image.corner {
  width: var(--logo-corner-width);
  height: var(--logo-corner-height);
  margin-left: var(--header-left-margin);
}

/*# sourceMappingURL=layout-main.css.map */
